#this file or directory needn't upload to git
*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven file
target/

#eclipse ignore
.settings/
.project
.classpath

#idea ignore
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db

mmall.properties